@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --primary-font: "Poppins", sans-serif;

  --text-primary: #16303a;
  --text-secondary: #fff;
  --text-dark: #f7f7f7;
  --bgPrimary: #f9f9fb;
  --bgDark: #1d2630;
  --bgDarkNav: #1b2430;
  --bgDarkCard: #dfe5ec;
  --bgSecondary: #fff;
  --violett: #5e17eb;
  --turkis: #5ce1e6;
  --red: #f91e5a;
  --green:#00cc00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--primary-font);
  background: var(--bgPrimary);
  color: var(--text-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
