.news {
  margin-bottom: 6rem;
  width: 1200px;
}
@media screen and (max-width: 450px) {
  .news {
    margin-bottom: 4rem;
    max-width: 390px;
  }
}

@media screen and (max-width: 900px) and (min-width: 451px) {
  .news {
    max-width: 720px;
    padding: 1rem;
  }
}
.newsHeader {
  font-size: 1.6rem;
  font-weight: 700;
  flex: 1;
  text-align: center;
  margin-bottom: 2rem;
}

.newsHeader.dark {
  color: var(--text-dark);
}

@media screen and (max-width: 450px) {
  .newsHeader {
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    flex: 1;
  }
}
@media screen and (max-width: 900px) and (min-width: 451px) {
  .newsHeader {
    text-align: center !important;
  }
}
@media screen and (max-width: 1200px) {
  .newsHeader {
    flex: 1;
    text-align: center;
    margin-left: 2.4rem;
  }
}
.newsHeader span {
  color: var(--red);
}
.newsShow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
  padding: 1rem;
}
@media screen and (max-width: 450px) {
  .newsShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 451px) and (max-width: 670px) {
  .newsShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 671px) and (max-width: 900px) {
  .newsShow {
    grid-template-columns: 1fr 1fr;
  }
}

.newsCard {
  width: 320px;
  height: auto;
  margin: 2rem 0.75rem;
  background: #fff;
  padding: 1.5rem;
  border-top: 3px solid var(--red);
  border-radius: 20px;
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
}
.newsCard.dark {
  background: var(--bgDarkCard);
}
@media screen and (max-width: 1200px) {
  .newsCard {
    width: 300px;
  }
}
@media screen and (max-width: 900px) {
  .newsCard {
    width: 310px;
  }
}
@media screen and (max-width: 450px) {
  .newsCard {
    width: 315px;
  }
}
.newsCard:hover {
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.25);
}
.newsCard p {
  font-size: 0.93rem;
}
.newsCard .newsHead {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.newsCard .newsHead:hover {
  color: #f91e5a;
}
.newsCard .news-head h3 {
  font-size: 1.15rem;
  font-weight: 700;
}

@media screen and (max-width: 450px) {
  .newsCard .news-head h3 {
    font-size: 1rem;
    font-weight: 700;
  }
}

.newsCard .news-head h3:hover {
  color: #f91e5a;
}
.newsCard img {
  max-width: 260px;
  max-height: 160px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 900px) {
  .newsCard img {
    max-width: 360px;
    max-height: 190px;
  }
}
.newsCard .newsInfos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.newsCard .newsInfos .newsRights {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 450px) {
  .newsCard .newsInfos .newsRights {
    font-size: 10px;
  }
}
.newsCard .newsInfos .newsTime {
  font-size: 10px;
}
@media screen and (max-width: 450px) {
  .newsCard .newsInfos .newsTime {
    font-size: 10px;
  }
}
