.statistiken {
  margin-top: 5rem;
}

.statistiken.dark {
  background-color: var(--bgDark);
}

@media screen and (max-width: 450px) {
  .statistiken {
    margin-top: 2rem;
  }
}

.header {
  font-size: 1.6rem;
  font-weight: 700;
  flex: 1;
  text-align: center;
  margin-top: 4rem;
  transition: all 0.35s ease-in-out;
  margin-bottom: 3rem;
}
.header.dark {
  color: var(--text-dark);
}
@media screen and (max-width: 450px) {
  .header {
    font-size: 1.2rem;
    text-align: center;
  }
}
@media screen and (max-width: 900px) and (min-width: 451px) {
  .header {
    text-align: center !important;
  }
}

.header span {
  color: var(--turkis);
}
.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 450px) {
  .stats {
    flex-direction: column;
  }
}
@media screen and (max-width: 560px) and (min-width: 451px) {
  .stats {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) and (min-width: 561px) {
  .stats {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.1em 0.1em;
    grid-template-areas: ". . " ". . " ". . " ". . ";
  }
}
.card {
  background: var(--bgSecondary);
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.08);
  border-top: 4px solid var(--turkis);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.card.dark {
  background: var(--bgDarkCard);
  transition: all 0.35s ease-in-out;
}
@media screen and (max-width: 900px) and (min-width: 451px) {
  .card {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 450px) {
  .card:nth-child(2) {
    padding-right: 3.8rem;
    padding-left: 3.8rem;
  }
}
@media screen and (max-width: 900px) {
  .card:nth-child(2) {
    padding-right: 3.8rem;
    padding-left: 3.8rem;
  }
}
.card:nth-child(3) {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 1rem;
}
.card:nth-child(4) {
  margin-bottom: 0.75rem;
  margin-top: 0rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 450px) {
  .card:nth-child(4) {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .card:nth-child(4) {
    margin-top: 1rem;
    padding-right: 3rem;
  }
}
.card h3 {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.card:hover {
  box-shadow: 0px 0px 25px 3px rgba(0, 0, 0, 0.15);
}

.text {
  margin-bottom: 1rem;
}

.none {
  opacity: 0;
}

.green {
  color: #00cc00;
}

.red {
  color: var(--red);
}

.green span {
  color: var(--text-primary);
  font-size: 0.85rem;
  margin-left: 4px;
  font-weight: 400 !important;
}

.red span {
  color: var(--text-primary);
  font-size: 0.85rem;
  margin-left: 4px;
  font-weight: 400 !important;
}
